.profile{
    width:100px;
    display: block;
    margin-left:auto ;
    margin-right: auto
}
h1{
    font-size: 45px;
    text-align: center;
    border-bottom:1px solid gray ;
    margin: 0px;
    padding:20px
}
ol{
    border-right:1px solid gray;
    width: 100px;
    margin:0;
    padding:20px;
}
a{
    text-decoration-style:dotted;
}
#grid{
    display:grid;
    grid-template-columns: 150px 1fr;
}